<table class="edit">
  <tr>
    <td>
      <fieldset>
        <legend>Information générales</legend>
        <table>
          <%= edit_value_table('Nom prénom', (f.text_field :identifiant, :size => 30)) %>
          <%= edit_value_table('Adresse', (f.text_field :adresse, :size => 50)) %>
          <%= edit_value_table('Code postal', (f.text_field :code_postal, :size => 5)) %>
          <%= edit_value_table('Ville', (f.text_field :ville)) %>
          <%= edit_value_table("Pays", (f.select :pays, Countries::NAME_TO_CODE_ARRAY)) %>
          <%= edit_value_table('Email', (f.email_field :email, :size => 30)) %>
        </table>
      </fieldset>
      <fieldset>
        <legend>Commande</legend>
        <% for boutique in @boutiques %>
            <% if boutique.series.any? {|serie| serie.disponible? && serie.articles.any? {|article| article.disponible?}} %>
                <fieldset>
                  <legend><%= boutique.nom %></legend>
                  <% for serie in boutique.series %>
                      <%# les séries qui ont quelque chose de disponlibles ou celles pour lesquelles le client a un article%>
                      <% if (serie.disponible? && serie.articles.any? {|article| article.disponible?}) || @client.articles.any?{|article| article.serie == serie} %>
                          <fieldset>
                            <legend><%= serie.nom %></legend>
                            <table>
                              <% for article in serie.articles.find_all{|article| article.disponible?} %>
                                  <%
                                     article_client = @client.article_clients.detect{|article_client| article_client.article == article}
                                     if article_client
                                         max_number = (article.nombre_restant == -1) ? 20 : ([article.nombre_restant + article_client.quantite, 20].min)
                                         selected = article_client.quantite
                                     else
                                         selected = 0
                                         max_number = (article.nombre_restant == -1) ? 20 : article.nombre_restant
                                     end
                                  %>
                                  <%= edit_value_table_raw(
                                          "#{link_to_view(article, 'admin/articles', article.nom)} #{number_to_currency article.prix}",
                                          select_tag("article[#{article.id}]", raw((0..max_number).map{ |i| "<option#{(i == selected) ? ' selected="selected"' : ''}>#{i}</option>"}), {:class => 'article', :onchange => "mettreAJourPrix()" })) %>
                                  <%= hidden_field_tag("prix_article[#{article.id}]", article.prix) %>
                              <% end %>
                              <%# articles de la série qui ne sont plus disponibles %>
                              <% for article_client in @client.article_clients.find_all{|article_client| (article_client.article.serie == serie) && (!article_client.article.disponible?) } %>
                                  <% max_number = (article.nombre_restant == -1) ? 20 : ([article.nombre_restant + article_client.quantite, 20].min) %>
                                  <%= edit_value_table(
                                          "#{link_to_view(article, 'admin/articles', article_client.article.nom)} #{number_to_currency article_client.prix_unitaire}",
                                          select_tag("article[#{article_client.article.id}]", raw((0..max_number).map{ |i| "<option#{(i == article_client.quantite) ? ' selected="selected"' : ''}>#{i}</option>"}), {:class => 'article', :onchange => "mettreAJourPrix()"})) %>
                                  <%= hidden_field_tag("prix_article[#{article.id}]", article_client.prix_unitaire) %>
                              <% end %>
                            </table>
                          </fieldset>
                      <% end %>
                  <% end %>
                </fieldset>
            <% end %>
        <% end %>
        <fieldset>
          <legend>Prix</legend>
          Le prix de cette commande est de <span id="prixAffiche"><%= @client.prix %></span> €.
        </fieldset>
      </fieldset>
    </td>
  </tr>
</table>