<fieldset title="general">
  <legend>Information générales</legend>
  <%= display_value_changed 'Nom prénom', h(@client.identifiant), 'identifiant' %>
  <%= display_value_changed 'Adresse', h(@client.adresse), 'adresse' %>
  <%= display_value_changed 'Code Postal', h(@client.code_postal), 'code_postal' %>
  <%= display_value_changed 'Ville', @client.ville, 'ville' %>
  <%= display_value_changed 'Pays', @client.pays, 'pays' %>
  <%= display_value_changed 'Email', "<a href=\"mailto:#{h(@client.email)}\">#{h(@client.email)}</a>", 'email' %>
  <%= display_value_changed 'Prix', "#{number_to_currency @client.prix}", 'prix' %>
  <% bouton_paiement = (@client.status == Client::NOUVEAU) ? " #{button_to('Chèque reçu', {:action => :cheque_recu, :id => @client}, {:class => 'bouton', :confirm => 'En êtes vous certain ?'})}" : '' %>
  <%= display_value_changed 'Status', @client.status_lisible, 'status', bouton_paiement %>
  <% bouton_envoi = (@client.status == Client::PAYE) ? " #{button_to('Commande envoyée', {:action => :commande_envoyee, :id => @client}, {:class => 'bouton', :confirm => 'En êtes vous certain ?'})}" : '' %>
  <%= display_value_changed 'Envoi', @client.date_envoi ? I18n.localize(@client.date_envoi) : 'non', 'date_envoi', bouton_envoi %>
</fieldset>
<fieldset title="content">
  <legend>Commande</legend>

  <% article_clients = @client.article_clients %>
  <% article_clients.sort! do |a , b |
    if a.article.serie.boutique != b.article.serie.boutique
      a.article.serie.boutique <=> b.article.serie.boutique
    elsif a.article.serie.numero != b.article.serie.numero
      a.article.serie.numero <=> b.article.serie.numero
    elsif a.article.numero != b.article.numero
      a.article.numero <=> b.article.numero
    else
      0
    end
  end %>

  <table class="alternated">
    <% for ac in article_clients %>
      <tr><%= raw "<td>#{ac.quantite}</td><td>#{link_to_view(ac.article, 'admin/articles', h(ac.article.nom))}</td><td>#{link_to_view(ac.article.serie, 'admin/series', h(ac.article.serie.nom))}</td>" %></tr>
    <% end %>
  </table>
</fieldset>

<fieldset title="paiementEnLigne">
  <legend>Paiement en ligne</legend>
  <%= display_value 'Numéro d\'autorisation', @client.cyberplus_auth_number %>
  <%= display_value 'Résultat de l\'autorisation', @client.cyberplus_auth_result %>
  <%= display_value 'Certificat de paiement', @client.cyberplus_payment_certificate %>
  <%= display_value 'Résultat', @client.cyberplus_result %>
  <%= display_value 'Vérification banque', @client.cyberplus_verification_banque?.to_fs %>

</fieldset>

<table class="barreBoutons">
  <tr>
    <td><%= link_to_edit @client %></td>
    <td><%= link_to 'Liste des clients', :action => :index %></td>
  </tr>
</table>
