<fieldset title="general">
  <legend>Information générales</legend>
  <%= display_value_changed 'Nom prénom', h(@client.identifiant), 'identifiant' %>
  <%= display_value_changed 'Adresse', h(@client.adresse), 'adresse' %>
  <%= display_value_changed 'Code Postal', h(@client.code_postal), 'code_postal' %>
  <%= display_value_changed 'Ville', @client.ville, 'ville' %>
  <%= display_value_changed 'Pays', Countries::CODE_TO_NAME[@client.pays], 'pays' %>
  <%= display_value_changed 'Email', "<a href=\"mailto:#{h(@client.email)}\">#{h(@client.email)}</a>", 'email' %>
  <%= display_value_changed 'Prix', "#{number_to_currency @client.prix}", 'prix' %>
  <%= display_value_changed 'Frais de port', "#{number_to_currency @client.port}", 'port' %>
  <% bouton_paiement = (@client.status == Client::NOUVEAU) ? " #{button_to('Chèque reçu', {:action => :cheque_recu, :id => @client}, {:class => 'bouton', :confirm => 'En êtes vous certain ?'})}" : '' %>
  <%= display_value_changed 'Status', @client.status_lisible, 'status', bouton_paiement %>
  <%= display_value_changed 'Envoi', @client.date_envoi ? I18n.localize(@client.date_envoi) : 'non', 'date_envoi' %>
</fieldset>
<fieldset title="content">
  <legend>Commande</legend>

  <table class="alternated">
    <% for ac in @client.article_clients %>
      <tr><%= raw "<td>#{ac.quantite}</td><td>#{link_to_view(ac.article, 'admin/articles', h(ac.article.nom))}</td>" %></tr>
    <% end %>
  </table>
</fieldset>

<fieldset title="paiementEnLigne">
  <legend>Paiement en ligne</legend>
  <%= display_value 'Numéro d\'autorisation', @client.cyberplus_auth_number %>
  <%= display_value 'Résultat de l\'autorisation', @client.cyberplus_auth_result %>
  <%= display_value 'Certificat de paiement', @client.cyberplus_payment_certificate %>
  <%= display_value 'Résultat', @client.cyberplus_result %>
  <%= display_value 'Vérification banque', @client.cyberplus_verification_banque?.to_fs %>

</fieldset>

<table class="barreBoutons">
  <tr>
    <td><%= link_to_edit @client %></td>
    <% if (@client.status == Client::PAYE) && (!@client.date_envoi) %>
      <td><%= link_to 'Mail de confirmation', :action => :mail_envoi, :id => @client %></td>
    <% end %>
    <td><%= link_to 'Liste des clients', :action => :index %></td>
  </tr>
</table>
