<div id="ad_bulle">
  <%= link_to image_tag('bulles/desordre.jpg'), {:action => :boutique}, {:title => 'La boutique du désordre'} %>
</div>

<div id="ac_descriptif_serie">
  <%= render(:partial => 'public/desordre/series', :locals => {:prefix => 'ac'}) %>
  <br/>
  <%= render(:partial => 'public/terrier/series', :locals => {:prefix => 'ac'}) %>
</div>

<div id="ad_bloc_centre">
  <div id="ac_image">
    <% poup_up_script = javascript_pop_up(url_for({:action => :zoom_article, :id => @article}), "Zoom #{@article.nom.gsub("'", "\\'")}") %>
    <div><%= link_to image_tag(@article.image.url(:image_article), :alt => @article.nom), '#', {:title => 'Cliquez pour zoomer', :onclick => "#{poup_up_script} return false;"} %></div>
    <div><%= link_to "Voir une image plus grande#{@article.vues.empty? ? '' : ' et d\'autres vues'}", '#', {:onclick => "#{poup_up_script} return false;"} %></div>
  </div>
  <div id="ad_nom_serie" class="ac_nom_serie"><%= @article.serie.nom %></div>
  <table id="ad_predelle">
    <tbody>
    <tr>
      <td><%= link_to image_tag('mains/gauche.gif', :id => 'ac_scroll_gauche'), '#', {:onclick  => 'articleScrollLeft(); return false;', :title => 'Se déplacer vers la gauche'} %></td>
      <td colspan="5">
        <div id="ad_scroll_content">
          <table>
            <tbody>
            <tr>
              <% for article in @articles_serie %>
                <td><%= link_to image_tag(article.image.url(:desordre_petit)), {:action => :article, :id => article}, {:title => article.nom} %></td>
              <% end %>
              <% (@article.serie.articles.length..7).each do %>
                <td class="grise"></td>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
      <td><%= link_to image_tag('mains/droite.gif', :id => 'ac_scroll_droite', :class => ((@article.serie.articles.length <= 7) ? 'grise' : '')), '#', {:onclick  => 'articleScrollRight(); return false;', :title => 'Se déplacer vers la droite'} %></td>
    </tr>
    </tbody>
  </table>
  <% unless @article.description_longue.blank? %>
    <div id="ad_description_longue" class="ac_description_longue"><%= raw @article.description_longue %></div>
  <% end %>
</div>

<div id="ad_info">
  <div id="ac_nom_article"><%= raw @article.nom %></div>
  <div id="ac_description_article"><%= raw @article.description_courte %></div>
  <div id="ac_prix_article"><%= number_to_currency @article.prix %></div>
  <div id="ac_ajouter_panier">
    <%= form_tag url_for({:controller => 'public/commande', :action => :panier, :add => @article.id}), :method => :post do %>
      <%= image_submit_tag 'panier.jpg', :title => 'Ajouter cet article à votre panier' %>
      <%= submit_tag 'Choisir cet article' %>
    <% end %>
  </div>
</div>