<div id="bd_bulle">
  <%= image_tag 'bulles/desordre.jpg', :alt => 'la boutique du désordre' %>
</div>

<div id="bd_info_boutiques">
  <div><%= link_to image_tag('boutons/bouton.jpg', :id => 'bc_logo_desordre'), {:action => :boutique}, {:title => 'La boutique du désordre'} %></div>
  <%= render(:partial => 'public/desordre/series', :locals => {:prefix => 'bc'}) %>
  <br/>
  <%= render(:partial => 'public/terrier/series', :locals => {:prefix => 'bc'}) %>
</div>

<% for i in (0...[6, @articles.length].min) %>
  <% article = @articles[i] %>
  <div id="bd_image_<%= i %>" class="bd_image">
    <div><%= image_tag article.image.url, :alt => article.nom %></div>
  </div>
  <div id="bd_cadre_<%= i %>" class="bd_cadre">
    <%= link_to image_tag('cadres/desordre_moyen.gif'), {:action => :article, :id => article}, {:title => article.nom} %>
  </div>
<% end %>

<% for i in (6...@articles.length) %>
  <div id="bd_predelle_image_<%= i - 6 %>" class="bd_predelle_image">
    <% article = @articles[i] %>
    <div><%= image_tag article.image.url, :alt => article.nom %></div>
  </div>
<% end %>

<ul id="bd_predelle_cadres">
  <% for i in (6...@articles.length) %>
    <% article = @articles[i] %>
    <li><%= link_to image_tag('cadres/desordre_petit.gif'), {:action => :article, :id => article}, {:title => article.nom} %></li>
  <% end %>
</ul>
