<div id="panier_info">
  <div id="panier_info_image">
    <%= image_tag('panier.jpg') %>
  </div>
  <p><%= "Votre panier contient #{@panier.length} article(s), pour un total de #{number_to_currency(@panier.inject(0) { |total, article_id| total + @panier_contenu[article_id].prix })}" %></p>

  <p>Vous pouvez
    consulter <%= link_to 'ici', {:controller => 'public/index', :action => 'cgv'}, {:target => '_blank'} %> nos
    conditions générales de vente.</p>
</div>

<div id="panier_description">Ce que nous sommes<br/>parvenus à vous fourguer</div>

<% unless @panier.empty? %>
  <div id="panier_contenu">
    <table id="panier_articles">
      <% @panier.each do |article_id| %>
        <% article = @panier_contenu[article_id] %>
        <tr class="panier_article">
          <td><%= image_tag(article.image.url, {:class => 'panier_article_image'}) %></td>
          <td class='panier_article_description'><%= "#{article.nom} #{number_to_currency(article.prix)}" %></td>
          <td>
            <%= form_tag url_for({:remove => article.id}), :method => :post do %>
              <% image_submit_tag 'corbeille.jpg', :title => 'Supprimer cet article du panier' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div id="panier_caisse">
      <div id="panier_caisse_image"><%= link_to image_tag('caisse_enregistreuse.jpg', :width => '100'), {:action => :coordonnees}, {:title => 'Poursuivre la commande'} %></div>
      <div><%= link_to 'Poursuivre la commande', {:action => :coordonnees} %></div>
    </div>
  </div>
<% end %>
