<div id="panier_info">
  <div id="panier_info_image">
    <%= image_tag('panier.jpg') %>
  </div>
  <p><%= "Votre panier contient #{@panier.length} article(s), pour un total de #{number_to_currency(@panier.inject(0) { |total, article_id| total + @panier_contenu[article_id].prix })}" %></p>

  <p>Vous pouvez
    consulter <%= link_to 'ici', {:controller => 'public/index', :action => 'cgv'}, {:target => '_blank'} %> nos
    conditions générales de vente.</p>
</div>

<% if @panier.empty? %>
  <div id="panier_description">Votre panier est<br/>actuellement vide</div>
<% else %>
  <div id="panier_description">Ce que nous sommes<br/>parvenus à vous fourguer</div>
  <div id="panier_contenu">

    <table id="panier_articles">
      <% @panier.each do |article_id| %>
        <% article = @panier_contenu[article_id] %>
        <tr class="panier_article">
          <td><%= link_to image_tag(article.image.url, {:class => 'panier_article_image'}), {:controller => ((article.serie.boutique.nom == Boutique::NOM_DESORDRE) ? 'public/desordre' : 'public/terrier'), :action => :article, :id => article.id}, {:title => 'Retourner à l\'article'} %></td>
          <td class='panier_article_description'>
            <%= link_to article.nom, {:controller => ((article.serie.boutique.nom == Boutique::NOM_DESORDRE) ? 'public/desordre' : 'public/terrier'), :action => :article, :id => article.id}, {:title => 'Retourner à l\'article'} %>
            <%= number_to_currency(article.prix) %></td>
          <td>
            <%= form_tag url_for({:remove => article.id}), :method => :post do %>
              <%= image_submit_tag 'corbeille.jpg', :title => 'Supprimer cet article du panier' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <table id="panier_boutons">
      <tr>
        <td>
          <div id="panier_retour">
            <div id="panier_retour_image"><%= link_to image_tag('mains/gauche.gif'), {:controller => 'public/index', :action => :sommaire}, {:title => 'Poursuivre les achats'} %></div>
            <div><%= link_to 'Poursuivre les achats', {:controller => 'public/index', :action => :sommaire} %></div>
          </div>
        </td>
        <td>
          <div id="panier_caisse">
            <div id="panier_caisse_image"><%= link_to image_tag('caisse_enregistreuse.gif', :width => '100'), {:action => :coordonnees}, {:title => 'Passer la commande'} %></div>
            <div><%= link_to 'Passer la commande', {:action => :coordonnees} %></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
<% end %>
