<table class="edit">
  <tr>
    <td>
      <fieldset>
        <table>
          <%= edit_value_table('Nom', (f.text_field :nom)) %>
          <%= edit_value_table('Description', (f.text_area :description, :cols => 100, :rows => 25)) %>
          <%= edit_value_table('Série (*: série indisponible)', (f.collection_select :serie_id, series, :id, :nom_disponible)) %>
          <%= edit_value_table('Disponible', (f.check_box :disponible?)) %>
          <%= edit_value_table('Prix', (f.text_field :prix)) %>
          <%= edit_value_table(raw("Nombre restant <br/>(-1 : pas de limite, par exemple pour les photos imprimées à la demande)"), (f.text_field :nombre_restant)) %>
          <tr>
            <td colspan="2">
              <fieldset>
                <legend>Image</legend>
                <div><%= image_tag article.image.url %></div>
                <%= f.file_field :image %>
              </fieldset>
            </td>
          </tr>
        </table>
      </fieldset>
    </td>
  </tr>
</table>