<table class="edit">
  <tr>
    <td>
      <fieldset>
        <table>
          <%= edit_value_table('Nom', (f.text_field :nom)) %>
          <%= edit_value_table('Description', (f.text_area :description, :cols => 100, :rows => 5)) %>
          <%= edit_value_table('Série (*: série indisponible)', (f.collection_select :serie_id, series, :id, :nom_disponible)) %>
          <%= edit_value_table('Disponible', (f.check_box :disponible?)) %>
          <%= edit_value_table('Prix', (f.text_field :prix)) %>
          <%= edit_value_table("Nombre restant (-1 : non renseigné)", (f.text_field :nombre_restant)) %>
        </table>
      </fieldset>
    </td>
  </tr>
</table>