<%= display_value_changed 'Nom', @article.nom, 'nom' %>
<%= display_value_changed 'Description courte', @article.description_courte, 'description_courte' %>
<%= display_value_changed 'Description longue', @article.description_longue, 'description_longue' %>
<%= display_value_changed 'Numero', (@article.numero >= 0) ? @article.numero : 'inactif', 'numero' %>
<%= display_value_changed 'Série', link_to_view(@article.serie, 'admin/series', h(@article.serie.nom)), 'boutique' %>
<%= display_value_changed 'Nombre restant', nombre_restant_ou_infini(@article.nombre_restant), 'nombre_restant' %>
<%= display_value_changed 'Prix', number_to_currency(@article.prix), 'prix' %>
<%= display_image_value_changed @article.image.url, 'extension' %>

<table class="barreBoutons">
  <tr>
    <td><%= link_to_edit @article %></td>
    <td><%= link_to 'Ajouter une image supplémentataire', :action => :add_vue, :id => @article %></td>
    <td><%= link_to 'Liste des articles', :controller => "admin/series", :action => :show, :id => @article.serie %></td>
    <td><%= link_to 'Liste des clients l\'ayant commandé', :controller => "admin/clients", :action => :article, :id => @article %></td>
    <% if @article.article_clients.empty? %>
      <td><%= button_to 'Supprimer l\'article', {:action => :delete, :id => @article}, :method => :delete, :confirm => 'Voulez vous vraiment supprimer cet article ?' %></td>
    <% end %>

  </tr>
</table>
<br/>

<% for vue in @article.vues %>
  <div class="barreBoutons">
    <%= image_tag vue.image.url %>
    <%= button_to 'Effacer', {:action => :remove_vue, :id => vue}, :confirm => 'En êtes-vous certain ?', :method => 'delete' %>
  </div>
<% end %>
