<div id="contact_info">
  <div id="contact_info_image">
    <%= image_tag('contact/enveloppe.gif', :width => 130) %>
  </div>
  Choisissez la personne que vous voulez contacter.
</div>

<div id="contact_bulle_desordre"><%= link_to image_tag('bulles/desordre.jpg'), :action => :desordre %></div>
<div id="contact_bulle_terrier"><%= link_to image_tag('bulles/terrier.jpg'), :action => :terrier %></div>

<div id="contact_dessin_desordre"><%= link_to image_tag('contact/logo_desordre.jpg'), :action => :desordre %></div>
<div id="contact_dessin_terrier"><%= link_to image_tag('contact/logo_terrier.gif', :height => 400), :action => :terrier %></div>

<div id="contact_etiquette_desordre"><%= link_to image_tag('contact/etiquette_desordre.jpg', :width => 175), :action => :desordre %></div>
<div id="contact_etiquette_terrier"><%= link_to image_tag('contact/etiquette_terrier.jpg', :width => 150), :action => :terrier %></div>

<div id="contact_etiquette_terrier_texte">L.L de Mars</div>
<div id="contact_etiquette_desordre_texte">Philippe De Jonckheere</div>
