<div id='aide_contenu'>
  <div>
    <%= link_to image_tag(url_question) %>
  </div>

  <p id="aide_titre">Aide</p>

  <p>Ceci est le menu d'aide du site <%= link_to 'fourbi.net', :action => 'sommaire' %> dans lequel nous allons tenter
    de vous aider à vous orienter dans notre petit bazar. Le site <%= link_to 'fourbi.net', :action => 'sommaire' %> est
    la consortium en ligne des deux indécrottables sites internet <%= link_to 'le Terrier', 'http://www.le-terrier' %>
    et <%= link_to 'le Désordre', 'http://www.desordre.net' %>. Il est donc composé de deux boutiques,
    celle <%= link_to 'du Terrier', :controller => 'public/terrier', :action => 'boutique' %> et celle
    <%= link_to 'du Désordre', :controller => 'public/desordre', :action => 'boutique' %> jusqu'ici tout va bien.
    Nous avons beaucoup travaillé à la netteté de tout ceci.</p>

  <p><%= link_to image_tag('aide/001.jpg'), :action => 'sommaire' %></p>

  <p>Depuis la page d'accueil du site, vous pouvez choisir d'aller chiner dans l'une ou l'autre de ces galeries. Dans
    les deux cas, les articles de l'autre boutique restent accessibles grâce à la colonne de gauche ou tout simplement
    en cliquant sur le logo du fourbi en haut à gauche ; il vous permet, à tout moment — préférablement pas quand vous
    êtes en train de finaliser votre commande — de revenir sur la page d'accueil du site. On accède à ces deux galeries
    en cliquant sur leurs phylactères respectifs</p>

  <p>Par exemple, la galerie <%= link_to 'du Désordre', :controller => 'public/desordre', :action => 'boutique' %></p>

  <p><%= link_to image_tag('aide/002.jpg'), :controller => 'public/desordre', :action => 'boutique' %></p>

  <p>Et celle <%= link_to 'du Terrier', :controller => 'public/terrier', :action => 'boutique' %></p>

  <p><%= link_to image_tag('aide/003.jpg'), :controller => 'public/terrier', :action => 'boutique' %></p>

  <p>Chaque boutique ou galerie est composées de séries, dans la galerie du Désordre ces séries ont des noms qui
    n'aident pas beaucoup, c'est comme ça, le taulier du Désordre il est comme ça, dans le Terrier tout n'est qu'ordre
    et volupté. Engageons-nous dans la galerie du Terrier.</p>

  <p>Dans le Terrier, on vous recommande beaucoup, par exemple, les bandes dessinées et pour tout vous dire
    <span class="aide_titre">Quelques prières d'urgence à réciter en cas de fin des temps</span>
    est un vrai chef d'oeuvre à un prix très abordable (les prix du Fourbi sont très abordables, tenez-le vous pour
    dit).</p>

  <p>Pour la clarté du raisonnement, imaginons que vous ayez décidé de vous procurer cet excellent album, vous avez donc
    cliqué sur le timbre correspondant à ce magnifique album de bandes dessinées.</p>

  <p><%= image_tag('aide/005.jpg') %></p>

  <p>Remarquez le petit panier à la droite de la couverture, laissez-vous tenter</p>

  <p><%= image_tag('aide/006.jpg') %></p>

  <p>Très bon choix! Vous pouvez décider de continuer vos petites emplettes dans le fourbi (on vous y encourage, il ne
    faut pas croire) ou au contraire en rester là et c'est déjà très bien. Bien sûr on ne vous recommande pas de vider
    l'article de votre panier, mais dans le menu d'aide on est obligé de vous préciser que la petite corbeille sur la
    droite de votre article sert à retirer l'article du panier.</p>

  <p>Il est temps de passer en caisse, cliquez donc sur notre caisse enregistreuse.</p>

  <p><%= image_tag('aide/007.jpg') %></p>

  <p>Dans cette boîte de dialogue, nous vous prions de renseigner les champs pour qu'on sache où vous envoyer vos
    achats. Remarquez que l'on fait tout cela en toute légalité et surtout en conformité avec la CNIL, les formulaires
    que nous avons du remplir pour ça étaient longs, difficiles et fastidieux. Cela veut surtout dire qu'on a beau être
    les Senor de Oliveira de l'internet, on s'engage à ne pas divulguer les informations que vous nous confiez. On est
    très conscients que ce n'est pas parce que vous vous intéressez à notre travail que vous avez besoin de viagra,
    d'<span class="aide_titre">escort girls</span>, de chirugie plastique hyper spécialisée, pas de ça avec nous, on
    vous le jure.</p>

  <p>Une fois rempli notre formulaire, veuillez poursuivre la commande en cliquant sur la caisse enregistreuse, voyez
    comme c'est simple.</p>

  <p><%= image_tag('aide/008.jpg') %></p>

  <p>On récapitule, X articles pour un montant Y à expédier à Madame ou Monsieur Z. Notez au passage que vous pouvez
    aussi choisir d'imprimer un bon de commande et nous l'expédier, l'adresse est sur le bon de commande, nous envoyer
    un chèque et le service sera le même. Allez encore un petit clic sur la caisse enregistereuse</p>

  <p><%= image_tag('aide/009.jpg') %></p>

  <p>Notre banque, la Banque Populaire de Lorraine Champagne a préféré une autre équipe de graphistes que la notre, il
    va falloir vous y faire. Vous choisissez le type de carte de crédit correspondant à la votre.</p>

  <p><%= image_tag('aide/010.jpg') %></p>

  <p>Notre banque ne rigole pas avec la sécurité, vous pouvez y aller les yeux fermés.</p>

  <p><%= image_tag('aide/011.jpg') %></p>

  <p>Votre demande paiement a été enregistrée avec succès. Ca a l'air de pas grand chose comme ça, mais cela a demandé
    beaucoup de travail.</p>

  <p>On vous dit Merci.</p>

  <p><%= image_tag('aide/012.jpg') %></p>

  <p>Sinon on vous donne quelques autres indications à propos de la navigation (si vous êtes un visiteur régulier du
    <%= link_to 'Désordre', 'http://www.desordre.net' %>, inutile de vous dire que cela va vous paraître super
    simple).</p>

  <p><%= image_tag('aide/013.jpg') %></p>

  <p>Pour chaque article, vous pouvez vous servir de la petite frise qui vous permet de regarder d'autres articles de
    la même série, un clic sur les petites mains et le défilement de la targette est automatique.</p>

  <p>Dans la colonne de gauche, vous pouvez naviguer dans les séries des deux boutiques en appelant les séries par leur
    titre.</p>

  <p>Je ne reviens pas sur les indications de panier</p>

  <p>Le Logo permet de revenir sur la page d'accueil.</p>

  <p>Chaque image de chaque article peut être agrandie pour vous faire une meilleure idée.</p>

  <p><%= image_tag('aide/014.jpg') %></p>

  <p>Le timbre vous permet de nous <%= link_to 'envoyer un mail', :controller => 'public/contact', :action => 'index' %>
    , notamment pour exprimer votre satisfaction, n'hésitez pas nous sommes
    tout à fait perméables aux compliments, ou plus sûrement pour nous demander toutes sortes de renseignements.</p>

  <p><%= link_to image_tag('aide/015.jpg'), :controller => 'public/contact', :action => 'index' %></p>

  <p>Si cela concerne le
    Terrier, <%= link_to 'écrivez à L.L. de Mars', :controller => 'public/contact', :action => 'terrier' %></p>

  <p><%= link_to image_tag('aide/016.jpg'), :controller => 'public/contact', :action => 'terrier' %></p>

  <p>Si cela concerne le
    Désordre, <%= link_to 'écrivez à Philippe De Jonckheere', :controller => 'public/contact', :action => 'desordre' %></p>

  <p><%= link_to image_tag('aide/017.jpg'), :controller => 'public/contact', :action => 'desordre' %></p>

  <p>Voilà je crois que l'on vous a tout dit. En tout cas, pour les questions, maintenant, vous savez comment faire pour
    les poser. Et les conditions de vente sont <%= link_to 'ici', :action => 'cgv' %>.</p>

  <p><%= link_to image_tag('aide/018.jpg'), :action => 'cgv' %></p>

  <p>Merci de tout cœur.</p>

  <p>Philippe De Jonckheere et L.L. de Mars.</p>
</div>