<div id="ad_bulle">
  <%= link_to image_tag('bulles/desordre.jpg'), {:action => :boutique_desordre}, {:title => 'La boutique du désordre'} %>
</div>

<div id="ad_retour_serie"><%= link_to raw('Retour<br/> à la série'), {:action => :serie_desordre, :id => @article.serie}, {:title => @article.serie.nom } %></div>

<div id="ac_info">
  <div id="ac_nom_article"><%= raw @article.nom %></div>
  <div id="ac_description_article"><%= raw @article.description %></div>
  <div id="ac_prix_article"><%= number_to_currency @article.prix %></div>
  <div id="ac_ajouter_panier">
    <%= link_to image_tag('panier.jpg'), {:controller => 'public/index', :action => :sommaire}, {:title => 'votre panier'} %>
  </div>
</div>

<div id="ad_bloc_centre">
  <div id="ac_image"><%= image_tag(@article.image.url, :alt => @article.nom) %></div>
  <table id="ad_predelle">
    <tbody>
    <tr>
      <td><%= link_to image_tag('mains/gauche.gif', :id => 'ac_scroll_gauche'), '#', {:onclick  => 'articleScrollLeft(); return false;', :title => 'Se déplacer vers la gauche' } %></td>
      <td colspan="5">
        <div id="ad_scroll_content" class="ac_scroll_content">
          <table>
            <tbody>
            <tr>
              <% for i in (0...@articles_serie.length) %>
                <% article = @articles_serie[i] %>
                <td><%= link_to image_tag(article.image.url), {:action => :article_desordre, :id => article}, {:title => article.nom} %></td>
              <% end %>
              <% (@article.serie.articles.length..7).each do %>
                <td class="grise"></td>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
      <td><%= link_to image_tag('mains/droite.gif', :id => 'ac_scroll_droite', :class => ((@article.serie.articles.length <= 7) ? 'grise' : '')), '#', {:onclick  => 'articleScrollRight(); return false;', :title => 'Se déplacer vers la droite'} %></td>
    </tr>
    </tbody>
  </table>
</div>
