<div id="boutique_desordre_bulle">
  <%= image_tag 'bulles/desordre.jpg', :alt => 'la boutique du désordre' %>
</div>

<div id="boutique_desordre_info_boutiques">
  <%= render(:partial => "public/index/boutique_series_desordre", :locals => {:boutique_desordre => @boutique_desordre}) %>
  <%= render(:partial => "public/index/boutique_series_terrier", :locals => {:boutique_terrier => @boutique_terrier}) %>
</div>

<% for i in (0...[6, @articles.length].min) %>
  <% article = @articles[i] %>
  <div id="boutique_desordre_image_<%= i %>" class="boutique_desordre_image">
    <div><%= image_tag article.image.url, :alt => article.nom %></div>
  </div>
  <div id="boutique_desordre_cadre_<%= i %>" class="boutique_desordre_cadre">
    <%= link_to image_tag('cadres/desordre_moyen.gif', :alt => article.nom ), {:action => :article_desordre, :id => article}, {:title => article.nom} %>
  </div>
<% end %>

<% for i in (6...@articles.length) %>
  <div id="boutique_desordre_predelle_image_<%= i - 6 %>" class="boutique_desordre_predelle_image">
    <% article = @articles[i] %>
    <div><%= image_tag article.image.url, :alt => article.nom %></div>
  </div>
<% end %>

<ul id="boutique_desordre_predelle_cadres">
  <% for i in (6...@articles.length) %>
    <% article = @articles[i] %>
    <li><%= link_to image_tag('cadres/desordre_petit.gif', :alt => article.nom ), {:action => :article_desordre, :id => article}, {:title => article.nom} %></li>
  <% end %>
</ul>
