<div id="s_descriptif">
  <p>fourbi.net est le site de vente en ligne des sites <%= link_to 'Désordre', 'http://www.desordre.net' %>
    et <%= link_to 'le Terrier', 'http://www.le-terrier.net/' %>, vous y trouverez à des prix que nous
    tentons de garder modestes des photograhies, des livres et des disques, et d'autres choses diverses, autant d'items
    que vous ne trouverez pas nécessairement ailleurs.</p>

  <p>Le paiement en ligne est entièrement sécurisé et vos achats vous sont envoyés par la poste dans les meilleurs
    délais
    possible de fabrication et d'expédition.</p>

  <p>Site conçu et réalisé par Philippe De Jonckheere et L.L. de Mars avec l'aide de Julien Kirch.</p>

</div>

<div id="s_bulle_desordre">
  <%= link_to image_tag('bulles/desordre.jpg'), {:controller => 'public/desordre', :action => :boutique}, {:title => 'La boutique du désordre'} %>
</div>

<% (0...[5, @articles_desordre.length].min).each do |i| %>
  <% article = @articles_desordre[i] %>
  <div id="s_image_desordre_<%= i %>" class="s_image_desordre">
    <div><%= image_tag article.image.url(:desordre_moyen) %></div>
  </div>
  <div id="s_cadre_desordre_<%= i %>" class="s_cadre_desordre">
    <%= link_to image_tag('cadres/desordre_moyen.gif'), {:controller => 'public/desordre', :action => :article, :id => article}, {:title => article.nom} %>
  </div>
<% end %>

<div id="s_bulle_terrier">
  <%= link_to image_tag('bulles/terrier.jpg'), {:controller => 'public/terrier', :action => :boutique}, {:title => 'La boutique du terrier'} %>
</div>

<% (0...[4, @articles_terrier.length].min).each do |i| %>
  <% article = @articles_terrier[i] %>
  <div id="s_image_terrier_<%= i %>" class="s_image_terrier">
    <div><%= image_tag article.image.url(:terrier_moyen) %></div>
  </div>
  <div id="s_cadre_terrier_<%= i %>" class="s_cadre_terrier">
    <%= link_to image_tag('cadres/terrier_moyen.gif'), {:controller => 'public/terrier', :action => :article, :id => article}, {:title => article.nom} %>
  </div>
<% end %>

