<div id="sommaire_descriptif">
  <p>fourbi.net est le site de vente en ligne des sites <%= link_to 'Désordre', 'http://www.desordre.net' %> et <%= link_to 'le Terrier', 'http://www.le-terrier.net/' %>, vous y trouverez à des prix que nous
  tentons de garder modestes des photograhies, des livres et des disques, et d'autres choses diverses, autant d'items
  que vous ne trouverez pas nécessairement ailleurs.</p>

  <p>Le paiement en ligne est entièrement sécurisé et vos achats vous sont envoyés par la poste dans les meilleurs délais
  possible de fabrication et d'expédition.</p>

  <p>Philippe De Jonckheere &#38; L.L. de Mars</p>
</div>

<div id="sommaire_bulle_desordre">
  <%= link_to image_tag('bulles/desordre.jpg', :alt => 'la boutique du désordre'), :action => :boutique, :id => @boutique_desordre %>
</div>

<% (0...[3, @articles_desordre.length].min).each do |i| %>
  <div id="sommaire_image_desordre_<%= i + 1 %>" class="sommaire_image_desordre"><%= image_tag @articles_desordre[i].image.url %></div>
  <div id="sommaire_cadre_desordre_<%= i + 1 %>" class="sommaire_cadre_desordre">
    <%= link_to image_tag('cadres/desordre_moyen.gif', :alt => @articles_desordre[i].nom ), :action => :article, :id =>  @articles_desordre[i] %>
  </div>
<% end %>

<div id="sommaire_bulle_terrier">
  <%= link_to image_tag('bulles/terrier.jpg', :alt => 'la boutique du terrier'), :action => :boutique, :id => @boutique_terrier %>
</div>

<% (0...[4, @articles_terrier.length].min).each do |i| %>
  <div id="sommaire_image_terrier_<%= i + 1 %>" class="sommaire_image_terrier"><%= image_tag @articles_terrier[i].image.url %></div>
  <div id="sommaire_cadre_terrier_<%= i + 1 %>" class="sommaire_cadre_terrier">
    <%= link_to image_tag('cadres/terrier_moyen.gif', :alt => @articles_terrier[i].nom ), :action => :article, :id =>  @articles_terrier[i] %>
  </div>
<% end %>

