<table class="edit">
  <tr>
    <td>
      <fieldset>
        <table>
          <%= edit_value_table('Login', (f.text_field :login)) %>
          <%= edit_value_table('Mot de passe', (f.password_field :mot_de_passe)) %>
          <%= edit_value_table('Confirmation', (f.password_field :confirmation_mot_de_passe)) %>
          <%= edit_value_table('Nom', (f.text_field :nom)) %>
          <%= edit_value_table('Email', (f.text_field :email)) %>
          <% if @site_admin %>
              <%= edit_value_table('Administrateur du site', (f.check_box :site_admin)) %>
          <% end %>
        </table>
      </fieldset>
    </td>
  </tr>
</table>