<%= error_messages_for :utilisateur %>

<% form_for @utilisateur, :url => {:action => :edit, :id => @utilisateur}, :html => {:method => :put} do |f| %>

  <%= render(:partial => "admin/utilisateurs/display_for_edit", :locals => {:f => f, :boutiques => @boutiques}) %>

  <table class="barreBoutons">
    <tr>
      <td><%= f.submit 'Modifier', {:id => 'updateButton'} %></td>
      <td><%= link_to 'Afficher', :action => :show, :id => @utilisateur %></td>
      <td><%= link_to 'Liste des utilisateur-rice-s', :action => :index %></td>
    </tr>
  </table>
<% end %>
