<%= display_value_changed 'Login', h(@utilisateur.login), 'login' %>
<%= display_value_changed 'Nom', h(@utilisateur.nom), 'nom' %>
<%= display_value_changed 'Email', "<a href=\"mailto:#{h(@utilisateur.email)}\">#{h(@utilisateur.email)}</a>", 'email' %>

<table class="barreBoutons">
  <tr>
    <% if @site_admin %>
        <td><%= link_to_edit @utilisateur %></td>
    <% end %>
    <td><%= link_to 'Afficher la liste des utilisateurs', :action => :index %></td>
  </tr>
</table>
