<%= error_messages_for :serie %>

<% form_for @serie, :url => {:action => :edit, :id => @serie.id }, :html => {:method => :put} do |f| %>

    <%= render(:partial => "admin/series/display_for_edit", :locals => {:f => f, :boutiques => @boutiques}) %>

    <table class="barreBoutons">
      <tr>
        <td><%= f.submit 'Modifier', {:id => 'updateButton'} %></td>
        <td><%= link_to 'Afficher', :action => :show, :id => @serie %></td>
        <td><%= link_to 'Liste des séries', :controller => "admin/boutiques", :action => :show, :id => @serie.boutique %></td>
      </tr>
    </table>
<% end %>
