<%= display_value_changed 'Nom', @serie.nom, 'nom' %>
<%= display_value_changed 'Descriptif', @serie.description, 'description' %>
<%= display_value_changed 'Numero', @serie.disponible? ? @serie.numero : 'indisponible', 'numero' %>
<%= display_value_changed 'Boutique', link_to_view(@serie.boutique, 'admin/boutiques', @serie.boutique.nom), 'boutique' %>

<br/>

<h3>Les articles de la série</h3>
<br/>

<table class="sortable alternated">
  <thead>
  <th>&nbsp;&nbsp;</th>
  <th>Nom&nbsp;&nbsp;</th>
  <th>Numéro&nbsp;&nbsp;</th>
  <th>Prix&nbsp;&nbsp;</th>
  <th>Nombre restant&nbsp;&nbsp;</th>
  <th>Image&nbsp;&nbsp;</th>
  </thead>
  <tbody>
  <% for article in @articles %>
    <tr>
      <td><%= link_to_view article, 'admin/articles', 'Voir' %></td>
      <td><%= h article.nom %></td>
      <td><%= (article.numero >=0) ? article.numero : 'indisponible' %></td>
      <td><%= number_to_currency article.prix %></td>
      <td><%= nombre_restant_ou_infini article.nombre_restant %></td>
      <td><%= link_to_view article, 'admin/articles', image_tag(article.image.url, {:height => '75px'}) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @articles %>

<table class="barreBoutons">
  <tr>
    <td><%= link_to_edit @serie %></td>
    <td><%= link_to 'Ajouter un article', :controller => "/admin/articles", :action => :new, :id => @serie %></td>
    <td><%= link_to 'Classer les séries', :action => :reorder, :id => @serie %></td>
    <td><%= link_to 'Liste des séries', :controller => "admin/boutiques", :action => :show, :id => @serie.boutique %></td>
  </tr>
</table>
