<div id="paiement_succes_bulle_desordre">
  <%= image_tag "bulles/bulle006.jpg" %>
</div>

<div id="paiement_succes_bulle_terrier">
  <%= image_tag "bulles/bulle007.jpg" %>
</div>

<div id="paiement_succes_image_desordre">
   <%= image_tag "contact/logo_desordre.jpg" %>
</div>

<div id="paiement_succes_image_terrier">
   <%= image_tag "contact/logo_terrier.gif" %>
</div>

<div id="paiement_succes_texte_terrier">Merci</div>

<div id="paiement_succes_texte_desordre">Je dirai même plus</div>

<div id="paiement_succes_texte">
Nous vous remercions pour votre confiance, nous allons répondre à cotre commande dans les plus brefs délais et vous recevrez un mail lors de son envoi.
En attendant nous vous invitons à poursuivre votre visite dans <%= link_to 'le Désordre', 'http://www.desordre.net' %> ou <%= link_to 'le Terrier', 'http://www.let-terrier' %>.
</div>