<div id="bt_bulle">
  <%= image_tag 'bulles/terrier.jpg', :alt => 'la boutique du terrier' %>
</div>

<div id="bt_info_boutiques">
  <div><%= link_to image_tag('insectes/cerambycide.jpg', :id => 'bc_logo_terrier'), {:action => :boutique}, {:title => 'La boutique du terrier'} %></div>
  <%= render(:partial => 'public/terrier/series', :locals => {:prefix => 'bc'}) %>
  <br/>
  <%= render(:partial => 'public/desordre/series', :locals => {:prefix => 'bc'}) %>
</div>

<% i = 0 %>
<% for serie in @boutique_terrier.series %>
  <% if i < 8 %>
    <% if article = Article.disponible.serie(serie).order('random()').first %>
      <div id="bt_image_<%= i %>" class="bt_image">
        <div><%= image_tag article.image.url, :alt => article.nom %></div>
      </div>
      <div id="bt_cadre_<%= i %>" class="bt_cadre">
        <%= link_to image_tag('cadres/terrier_moyen.gif'), {:action => :article, :id => article}, {:title => article.nom} %>
      </div>
      <% i += 1 %>
    <% end %>
  <% end %>
<% end %>

<% for i in (0...[8, @articles.length].min) %>
  <% article = @articles[i] %>
  <div id="bt_image_<%= i %>" class="bt_image">
    <div><%= image_tag article.image.url, :alt => article.nom %></div>
  </div>
  <div id="bt_cadre_<%= i %>" class="bt_cadre">
    <%= link_to image_tag('cadres/terrier_moyen.gif'), {:action => :article, :id => article}, {:title => article.nom} %>
  </div>
<% end %>

<% for i in (8...@articles.length) %>
  <div id="bt_predelle_image_<%= i - 8 %>" class="bt_predelle_image">
    <% article = @articles[i] %>
    <div><%= image_tag article.image.url, :alt => article.nom %></div>
  </div>
<% end %>

<ul id="bt_predelle_cadres">
  <% for i in (8...@articles.length) %>
    <% article = @articles[i] %>
    <li><%= link_to image_tag('cadres/terrier_petit.gif'), {:action => :article, :id => article}, {:title => article.nom} %></li>
  <% end %>
</ul>
