<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=UTF-8"/>
  <meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
  <meta http-equiv="CACHE-CONTROL" content="no-cache, must-revalidate"/>
  <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'admin' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.tablesorter.min', :cache => 'admin'  %>
  <% if @custom_javascript_include %>
      <%= javascript_include_tag @custom_javascript_include %>
  <% end %>
  <%= javascript_include_tag 'admin' %>
</head>
<body>

<div id="contenu">

  <% if flash[:alert] -%>
      <div id="error" class="flash"><%= flash[:alert] %></div>
  <% end -%>

  <% if flash[:notice] -%>
      <div id="notice" class="flash"><%= flash[:notice] %></div>
  <% end -%>

  <h1 class="courier"><%= h @page_title %></h1>

  <%= yield %>

</div>

<div id="logo">
  fourbi.net
</div>

<div id="navigation">
  <h2 id="currentUser"><%= link_or_current h(@current_user.nom), {:controller => :'/admin/utilisateurs', :action => :show, :id => @current_user.id} %></h2>

  <div id="logout"><%= link_to 'Se déconnecter', :controller => '/admin/sessions', :action => :logout %></div>
  <br/>

  <h3><%= link_or_current 'Les boutiques', {:controller => :'/admin/boutiques', :action => :index} %></h3>
  <ul>
  <% for boutique in @boutiques_layout %>
      <li>
          <%= link_or_current boutique.nom, {:controller => :'/admin/boutiques', :action => :show, :id => boutique} %>
          <% unless boutique.series.empty? %>
            <ul>
            <% for serie in boutique.series %>
                <li><%= link_or_current h(serie.nom), {:controller => :'/admin/series', :action => :show, :id => serie} %></li>
            <% end %>
            </ul>
          <% end %>
     </li>
  <% end %>
  </ul>

  <h3><%= link_or_current 'Les clients', {:controller => :'/admin/clients', :action => :index} %></h3>
  <ul>
    <li><%= link_or_current 'Attente d\'envoi', {:controller => :'/admin/clients', :action => :attente_envoi} %></li>
    <li><%= link_or_current 'Attente de paiement', {:controller => :'/admin/clients', :action => :attente_paiement} %></li>
  </ul>
  <br/>

  <h3><%= link_or_current 'Les utilisateurs', {:controller => :'/admin/utilisateurs'} %></h3>
  <br/>

  <h3><%= link_or_current 'Configuration', {:controller => :'/admin/configuration'} %></h3>
</div>

</body>
</html>
