<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=UTF-8"/>
  <meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
  <meta http-equiv="CACHE-CONTROL" content="no-cache, must-revalidate"/>
  <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'public' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.scrollTo-1.4.2-min', 'public', :cache => 'public-cache' %>
  <% if @custom_javascript_include %>
    <%= javascript_include_tag @custom_javascript_include %>
  <% end %>
  <% if @custom_javascript %>
    <script type="text/javascript">
      <%= raw @custom_javascript %>
    </script>
  <% end %>
  <% if @custom_css %>
    <style type="text/css">
      <%= raw @custom_css %>
    </style>
  <% end %>
</head>
<body>

<div id="flash">

  <% if flash[:alert] -%>
    <div id="alert" class="flash"><%= flash[:alert] %></div>
  <% end -%>

  <% if flash[:notice] -%>
    <div id="notice" class="flash"><%= flash[:notice] %></div>
  <% end -%>

</div>

<%= yield %>

<% unless @no_layout %>
  <div id="logo">
    <%= link_to image_tag('logo.jpg'), {:controller => 'public/index', :action => :sommaire, }, {:title => 'retour au sommaire'} %>
  </div>

  <div id="haut_timbre" class="image_haut">
    <%= link_to image_tag(url_timbre), {:controller => 'public/contact', :action => :index}, {:title => 'nous écrire'} %>
  </div>
  <div id="haut_panier" class="image_haut">
    <%= link_to image_tag('petit_panier.jpg'), {:controller => 'public/commande', :action => :panier}, {:title => 'votre panier'} %>
  </div>
  <div id="haut_aide" class="image_haut">
    <%= link_to image_tag(url_question), {:controller => 'public/index', :action => :sommaire}, {:title => 'aide'} %>
  </div>
  <div id="haut_desordre" class="image_haut">
    <%= link_to image_tag("boutons/#{sprintf('%03d', (rand(43) + 1))}.jpg"), {:controller => 'public/desordre', :action => :boutique}, {:title => 'galerie du désordre'} %>
  </div>
  <div id="haut_terrier" class="image_haut">
    <%= link_to image_tag("insectes/#{sprintf('%03d', (rand(3) + 1))}.jpg"), {:controller => 'public/terrier', :action => :boutique}, {:title => 'galerie du terrier'} %>
  </div>

  <div id="haut_timbre_label" class="label_haut">
    <%= link_to 'Contact', {:controller => 'public/index', :action => :sommaire}, {:title => 'nous écrire'} %>
  </div>
  <div id="haut_panier_label" class="label_haut">
    <%= link_to 'Panier', {:controller => 'public/commande', :action => :panier}, {:title => 'votre panier'} %>
  </div>

  <div id="haut_aide_label" class="label_haut">
    <%= link_to 'Aide', {:controller => 'public/index', :action => :sommaire}, {:title => 'Aide'} %>
  </div>
  <div id="haut_desordre_label" class="label_haut">
    <%= link_to 'Désordre', {:controller => 'public/desordre', :action => :boutique}, {:title => 'galerie du désordre'} %>
  </div>
  <div id="haut_terrier_label" class="label_haut">
    <%= link_to 'Terrier', {:controller => 'public/terrier', :action => :boutique}, {:title => 'galerie du terrier'} %>
  </div>
<% end %>
</body>
</html>
