<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml;charset=UTF-8"/>
  <meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
  <meta http-equiv="CACHE-CONTROL" content="no-cache, must-revalidate"/>
  <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'public' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery.scrollTo-1.4.2-min', 'public' %>
  <% if @custom_javascript_include %>
      <%= javascript_include_tag @custom_javascript_include %>
  <% end %>
  <% if @custom_javascript %>
      <script type="text/javascript">
          <%= @custom_javascript %>
      </script>
  <% end %>
</head>
<body>

<div id="contenu">

  <% if flash[:error] -%>
      <div id="error" class="flash"><%= flash[:error] %></div>
  <% end -%>

  <% if flash[:warning] -%>
      <div id="warning" class="flash"><%= flash[:warning] %></div>
  <% end -%>

  <% if flash[:notice] -%>
      <div id="notice" class="flash"><%= flash[:notice] %></div>
  <% end -%>

  <%= yield %>

</div>

<div id="logo">
   <%= image_tag 'logo.jpg', :alt => 'fourbi.net' %>
</div>

<div id="haut_timbre" class="image_haut">
  <%= link_to image_tag("timbres/#{sprintf('%03d', (rand(39) + 1))}.jpg", :alt => 'nous écrire'), {:controller => 'public/index', :action => :sommaire}, {:title => 'nous écrire'} %>
</div>
<div id="haut_panier" class="image_haut">
  <%= link_to image_tag('panier.jpg', :alt => 'votre panier'), {:controller => 'public/index', :action => :sommaire}, {:title => 'votre panier'} %>
</div>
<div id="haut_aide" class="image_haut">
  <%= link_to image_tag("questions/#{sprintf('%03d', (rand(3) + 1))}.jpg", :alt => 'aide'), {:controller => 'public/index', :action => :sommaire}, {:title => 'aide'} %>
</div>
<div id="haut_desordre" class="image_haut">
  <%= link_to image_tag("boutons/#{sprintf('%03d', (rand(50) + 1))}.jpg", :alt => 'galerie du désordre'), {:controller => 'public/index', :action => :boutique_desordre}, {:title => 'galerie du désordre'} %>
</div>
<div id="haut_terrier" class="image_haut">
  <%= link_to image_tag("insectes/#{sprintf('%03d', (rand(3) + 1))}.jpg", :alt => 'galerie du terrier'), {:controller => 'public/index', :action => :boutique_terrier}, {:title => 'galerie du terrier'} %>
</div>


</body>
</html>
